body {
  background-color: #3C91E6;
  color: #FAFFFD;
  margin:40px auto;
  max-width:650px;
  line-height:1.6;
  font-size:18px;
  padding:010px
}
h1,h2,h3 {
  line-height:1.2
}

.App {
  text-align: center;
}

ul {
  list-style-type: none;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  /* background-color: #342E37; */
  padding: 20px;
  font-size: 2em;
  font-weight: bold;
  display: flex;
}

.App-footer {
  position: fixed;
  bottom: 10px;
  left: 10px;
  font-size: 20px;
}

.App-header--logo {
  flex-grow: 1;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.clickable {
  cursor: pointer;
}

.add-button {
  color: #342E37;
}

.App--no-content {
  padding: 20px;
}

.App--input-expense {
  border: none;
  border-bottom: 1px solid #342E37;
  /* width: 100%; */
  /* background-color: #3C91E6; */
  padding-bottom: 5px
}

.App--input-label {
  display: block;
  border: none;
  border-bottom: 1px solid #342E37;
  /* width: 100%; */
  background-color: #3C91E6;
  padding-bottom: 15px;
  /* color: #FAFFFD; */
}

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #FAFFFD;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #FAFFFD;
  opacity: 1;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #FAFFFD;
  opacity: 1;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #FAFFFD;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #FAFFFD;
}

.btn {
  display: inline-block;
  padding: 3px 6px;
  margin-bottom: 0;
  font-size: 11px;
  font-weight: 400;
  line-height: 1.4;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}